---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?hl=en&user=WayEs34AAAAJ&view_op=list_works&cituft=3&email_for_op=manishachawla96%40gmail.com&gmla=ACrTK9Xb4lUVdAOTjfbFcXoQXZZPQM28UjbJiUeAnGbYTSs9I5Zq3dc5ttNIofWRFYMjEamlZnz2tzCZK9srSe2bQfB4nQ8cT_8MHwl1YtdGiwET_W02qDDrtmxks5va60F5Xy_T49KLmIAnwDWccuIAP-R8kW7qPVXf6bjZ9nSDJXK5AcSGD4W-Ov3x7_SG_QOi6awn4ufCjc2w31OuMX7Le8PKVka7CVsIarSRghXWXMiIqxu1EVysFE0Dghj_h5MUybPbzafNYg6SnjByvfgBFRKVAosU-KJ8tq6bcrnA0nm6}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



