{% if post.citation %}
<p>
  Recommended citation: {{ post.citation }}<br />

  {% if post.paperurl %}
    <a href="{{ post.paperurl }}">DOI</a>
  {% endif %}

  {% if post.pdfurl %}
    {% if post.paperurl %} | {% endif %}
    <a href="{{ post.pdfurl }}">PDF</a>
  {% endif %}

  {% if post.slidesurl %}
    {% if post.paperurl or post.pdfurl %} | {% endif %}
    <a href="{{ post.slidesurl }}">Slides</a>
  {% endif %}

  {% if post.bibtexurl %}
    {% if post.paperurl or post.pdfurl or post.slidesurl %} | {% endif %}
    <a href="{{ post.bibtexurl }}">BibTeX</a>
  {% endif %}
</p>

{% else %}

<p>

  {% if post.paperurl %}
    <a href="{{ post.paperurl }}">DOI</a>
  {% endif %}

  {% if post.pdfurl %}
    {% if post.paperurl %} | {% endif %}
    <a href="{{ post.pdfurl }}">PDF</a>
  {% endif %}

  {% if post.slidesurl %}
    {% if post.paperurl or post.pdfurl %} | {% endif %}
    <a href="{{ post.slidesurl }}">Slides</a>
  {% endif %}

  {% if post.bibtexurl %}
    {% if post.paperurl or post.pdfurl or post.slidesurl %} | {% endif %}
    <a href="{{ post.bibtexurl }}">BibTeX</a>
  {% endif %}

</p>

{% endif %}
